<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"></link>
    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:1,100,300,500,600,700" rel="stylesheet"
          type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <!--fontawesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <title>CODE MOBILE SITE</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-md  bg-white navbar-light  fixed-top">
    <div class="container">
        <a class="navbar-brand"><img width="193" src="images/code_logo.png"></a>
        <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between ml-auto code-mobile-site-nav" id="nav">
            <ul class="navbar-nav  ml-auto font-17">
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">About Dcode</a>
                </li>
                <li class="nav-item dropdown" data-toggle="dropdown">
                    <a class="nav-link px-3 dropdown-toggle" href="#">Smartphones <i class="fa fa-angle-down"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Iphone</a>
                        <a class="dropdown-item" href="#">Samsung</a>
                        <a class="dropdown-item" href="#">Infinix</a>
                    </div>
                </li>
                <li class="nav-item dropdown" data-toggle="dropdown">
                    <a class="nav-link  px-3 dropdown-toggle" href="#">Accessories <i class="fa fa-angle-down"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Accessory 1</a>
                        <a class="dropdown-item" href="#">Accessory 2</a>
                        <a class="dropdown-item" href="#">Accessory 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link   px-3" href="#">Store Locator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  px-3" href="#">World of Dcode</a>
                </li>
            </ul>
            <!-- Search bar -->
            <form class="form-inline ml-3">
                <div class="search-button">
                    <i class="fa fa-search text-purple"> </i>
                </div>
                <div class="search-box">
                    <input type="text" name="Search" class="pl-2" placeholder="Search ..."/>
                    <input type="button" value="Search"/>
                </div>
            </form>
            <button class="btn btn-success order-button btn-yellow btn-padding-sm
             btn-square font-19 ml-3 mt-2 mt-md-0"
                    type="button">Order
                Now
            </button>
        </div>
    </div>
</nav>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="code-mobile-site-locator-block">
                    <h1 class="heading-title-4">Store locator</h1>
                    <h1 class="heading-title-4">Find a store near you</h1>
                </div>
                <hr class="heading-divider">
            </div>
            <div class="col-12 col-md-4">
                <div class="code-mobile-site-locator-sub-block">
                    <h1 class="heading-title-6">Karachi</h1>
                    <p class="heading-title-7"><span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza<br>
                        <span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="code-mobile-site-locator-sub-block">
                    <h1 class="heading-title-6">Lahore</h1>
                    <p class="heading-title-7"><span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza<br>
                        <span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="code-mobile-site-locator-sub-block">
                    <h1 class="heading-title-6">Rawalpindi</h1>
                    <p class="heading-title-7"><span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza<br>
                        <span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="code-mobile-site-locator-sub-block">
                    <h1 class="heading-title-6">Peshawar</h1>
                    <p class="heading-title-7"><span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza<br>
                        <span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="code-mobile-site-locator-sub-block">
                    <h1 class="heading-title-6">Quetta</h1>
                    <p class="heading-title-7"><span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza<br>
                        <span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="code-mobile-site-locator-sub-block">
                    <h1 class="heading-title-6">Faisalabad</h1>
                    <p class="heading-title-7"><span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza<br>
                        <span class="first-title">Raja Bazar</span> Singapore Plaza<br>
                        <span class="first-title">Defence Main Market</span> Dubia Plaza
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="my-5">
    <div class="container">
        <div class="row my-5">
            <div class="col-12 col-md-10 m-auto text-center">
                <h1 class="heading-title-1"><strong>Videos</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="#" data-toggle="modal" data-target="#showVideoModal"
                   data-video="NLUtcA2bCJo" data-title="Mobile Video" data-description=""
                   class="video-aside-buttons"><img
                        src="images/video-thumnail-1.png" alt="Video 1" width="100%"
                        class="img-fluid"></a>
            </div>
            <div class="col-12 col-md-4 mt-5 mt-md-0">
                <a href="#" data-toggle="modal" data-target="#showVideoModal"
                   data-video="NLUtcA2bCJo" data-title="Mobile Video" data-description=""
                   class="video-aside-buttons"><img
                        src="images/video-thumnail-2.png" alt="Video 2" width="100%"
                        class="img-fluid"></a>
            </div>
            <div class="col-12 col-md-4  mt-5 mt-md-0">
                <a href="#" data-toggle="modal" data-target="#showVideoModal"
                   data-video="NLUtcA2bCJo" data-title="Mobile Video" data-description=""
                   class="video-aside-buttons"><img
                        src="images/video-thumnail-3.png" alt="Video 3" width="100%"
                        class="img-fluid"></a>
            </div>

        </div>
    </div>
</section>
<footer class="code-mobile-site-footer pt-5 pt-3 bg-grey">
    <div class="container">
        <div class="row">
            <button id="btn-scroll-top" class="btn btn-square btn-orange btn-scroll-top btn-padding-lg font-15 "
                    type="button">
                BACK TO TOP
            </button>
            <div class="col-12 col-md-2  text-center text-md-left">
                <img alt="Facebook" src="images/footer-down-arrow.png">
            </div>
            <div class="col-12 col-md-10">
                <div class="row text-center text-md-left">
                    <div class="col-12 mb-5 pb-4">
                        <p class="footer-title font-weight-lighter">Looking forward to hearing from you.
                            <input class="footer-button font-18 ml-md-4" type="text" placeholder="Enter Email Address"/>
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>
                                <a href="#">About Dcode</a>
                            </li>
                            <li>
                                <a href="#">Smartphones</a>
                            </li>
                            <li>
                                <a href="#">Accessories</a>
                            </li>
                            <li>
                                <a href="#">Store Locator</a>
                            </li>
                            <li>
                                <a href="#">Workd if Dcode</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>
                                <a href="#">Recommend</a>
                            </li>
                            <li>
                                <a href="#">X Piano Black</a>
                            </li>
                            <li>
                                <a href="#">Yale Blue</a>
                            </li>
                            <li>
                                <a href="#">Cypher Black</a>
                            </li>
                            <li>
                                <a href="#">X Cherry Red</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3 class="font-weight-light">0800-0-8866</h3>
                        <p class="font-14">
                            <span>11:00 - 19:00, MON - SAT</span>
                        </p>
                        <div class="clearfix social-icons">
                            <a href="https://www.facebook.com" target="_blank" rel="noopener">
                                <img alt="Facebook" src="images/facebook.png">
                            </a>
                            <a href="https://twitter.com" target="_blank" rel="noopener">
                                <img alt="Twitter" src="images/youtube.png">
                            </a>
                            <a href="https://www.youtube.com" target="_blank" rel="noopener">
                                <img alt="Twitter" src="images/instagram.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
<!-- Model to view videos -->
<!-- Modal -->
<div class="modal fade oss-demo-modals" id="showVideoModal" tabindex="-1" role="dialog"
     aria-labelledby="showVideoModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>Model Video</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width:100%;">
                <div>
                    <iframe class="video-frame"
                            src="https://www.youtube.com/embed/t7jbT1YhyQU?feature=oembed&autoplay=1&mute=1"
                            frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

