<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css"></link>
    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:1,100,300,500,600,700" rel="stylesheet"
          type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <!--fontawesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <title>CODE MOBILE SITE</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-md  bg-white navbar-light  fixed-top">
    <div class="container">
        <a class="navbar-brand"><img width="193" src="images/code_logo.png"></a>
        <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between ml-auto code-mobile-site-nav" id="nav">
            <ul class="navbar-nav  ml-auto font-17">
                <li class="nav-item">
                    <a class="nav-link px-3" href="#">About Dcode</a>
                </li>
                <li class="nav-item dropdown" data-toggle="dropdown">
                    <a class="nav-link px-3 dropdown-toggle" href="#">Smartphones <i class="fa fa-angle-down"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Iphone</a>
                        <a class="dropdown-item" href="#">Samsung</a>
                        <a class="dropdown-item" href="#">Infinix</a>
                    </div>
                </li>
                <li class="nav-item dropdown" data-toggle="dropdown">
                    <a class="nav-link  px-3 dropdown-toggle" href="#">Accessories <i class="fa fa-angle-down"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Accessory 1</a>
                        <a class="dropdown-item" href="#">Accessory 2</a>
                        <a class="dropdown-item" href="#">Accessory 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link   px-3" href="#">Store Locator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  px-3" href="#">World of Dcode</a>
                </li>
            </ul>
            <!-- Search bar -->
            <form class="form-inline ml-3">
                <div class="search-button">
                    <i class="fa fa-search text-purple"> </i>
                </div>
                <div class="search-box">
                    <input type="text" name="Search" class="pl-2" placeholder="Search ..."/>
                    <input type="button" value="Search"/>
                </div>
            </form>
            <button class="btn btn-success order-button btn-yellow btn-padding-sm
             btn-square font-19 ml-3 mt-2 mt-md-0"
                    type="button">Order
                Now
            </button>
        </div>
    </div>
</nav>
<div class="code-carousel">
    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
            <li data-target="#home-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="code-home-slider  code-mobile-site-slider-3">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="col-12 col-md-6 order-0">
                                <div class="carousel-caption text-center">
                                    <h1 class="display-1">
                                        X Cherry Red
                                    </h1>
                                    <p class="desc">Lorem lpsum is simple dummy text of the printing and typesetting
                                        industry.</p>
                                    <div class="mt-3 pt-md-1"></div>
                                    <p class="price">
                                        Rs. 40,987
                                    </p>
                                    <a class="btn btn-square btn-orange btn-lg border-0"><strong>Learn
                                        More</strong></a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 d-none d-md-block">
                                <img class="img-fluid" src="images/mobile-slider-large-2.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="code-home-slider code-mobile-site-slider-3">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="carousel-caption  text-center">
                                    <h1 class="display-1">
                                        X Cherry Red
                                    </h1>
                                    <p class="desc">Lorem lpsum is simple dummy text of the printing and typesetting
                                        industry.</p>
                                    <div class="mt-3 pt-md-1"></div>
                                    <p class="price">
                                        Rs. 40,987
                                    </p>
                                    <a class="btn btn-square btn-orange btn-lg border-0"><strong>Learn
                                        More</strong></a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6  d-none d-md-block">
                                <img class="img-fluid" src="images/mobile-slider-large-2.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="code-home-slider  code-mobile-site-slider-3">
                    <div class="container position-relative">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="carousel-caption  text-center">
                                    <h1 class="display-1">
                                        X Cherry Red
                                    </h1>
                                    <p class="desc">Lorem lpsum is simple dummy text of the printing and typesetting
                                        industry.</p>
                                    <div class="mt-3 pt-md-1"></div>
                                    <p class="price">
                                        Rs. 40,987
                                    </p>
                                    <a class="btn btn-square btn-orange btn-lg border-0"><strong>Learn
                                        More</strong></a>
                                </div>
                            </div>
                            <div class="col-12 col-md-6  d-none d-md-block">
                                <img class="img-fluid" src="images/mobile-slider-large-2.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#home-slider" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#home-slider" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<section>
    <div class="product-page-banner-2 py-md-2">
        <div class="container">
            <div class="row pt-3 pt-md-5">
                <div class="text-white col-12  text-center">
                    <h1 class="font-weight-bold heading-title-3">
                        OUTSTANDING ALL-ROUND CAMERA
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <h1 class="text-center heading-title-1">More Modes To Free Your Creativity</h1>
            </div>
        </div>
    </div>
</section>
<div class="product-page-banner-3">
</div>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 mb-5">
                <h1 class="text-center heading-title-1">Colors Available</h1>
            </div>
            <div class="col-12 col-md-7 text-md-right">
                <img src="images/mobile-image-1.png" class="img-fluid mt-md-4"/>
                <div class="pl-md-5 ml-md-5">
                    <p class="mobile-color-option text-md-right"></p><br>
                    <h2 class="text-center">X Piano Black</h2>
                </div>
            </div>
            <div class="col-12 col-md-3 ml-md-3 mt-4 mt-md-0 text-center text-md-left">
                <img src="images/mobile-image-2.png" class="img-fluid mt-md-2"/>
                <div>
                    <p class="mobile-color-option mobile-color-option-1"></p><br>
                    <h2 class="mr-md-5 mobile-color-option-title-2">X Piano Black</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="product-page-banner-4 py-md-2">
        <div class="container">
            <div class="row pt-5">
                <div class="text-white col-12  text-center">
                    <h2 class="font-weight-bold">
                        Sleek Stylish Design
                    </h2>
                    <p class="banner-description py-4 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <img src="images/mobile-banner-picture-3.png"  class="img-fluid pb-3"/>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div class="container">
        <div class="row my-5">
            <div class="col-12 col-md-10 m-auto text-center">
                <h1 class="heading-title-1"><strong>Videos</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="#" data-toggle="modal" data-target="#showVideoModal"
                   data-video="NLUtcA2bCJo" data-title="Mobile Video" data-description=""
                   class="video-aside-buttons"><img
                        src="images/video-thumnail-1.png" alt="Video 1" width="100%"
                        class="img-fluid"></a>
            </div>
            <div class="col-12 col-md-4 mt-5 mt-md-0">
                <a href="#" data-toggle="modal" data-target="#showVideoModal"
                   data-video="NLUtcA2bCJo" data-title="Mobile Video" data-description=""
                   class="video-aside-buttons"><img
                        src="images/video-thumnail-2.png" alt="Video 2" width="100%"
                        class="img-fluid"></a>
            </div>
            <div class="col-12 col-md-4  mt-5 mt-md-0">
                <a href="#" data-toggle="modal" data-target="#showVideoModal"
                   data-video="NLUtcA2bCJo" data-title="Mobile Video" data-description=""
                   class="video-aside-buttons"><img
                        src="images/video-thumnail-3.png" alt="Video 3" width="100%"
                        class="img-fluid"></a>
            </div>

        </div>
    </div>
</section>
<footer class="code-mobile-site-footer pt-5 pt-3 bg-grey">
    <div class="container">
        <div class="row">
            <button id="btn-scroll-top"  class="btn btn-square btn-orange btn-scroll-top btn-padding-lg font-15 "
                    type="button">
                BACK TO TOP
            </button>
            <div class="col-12 col-md-2  text-center text-md-left">
                <img alt="Facebook" src="images/footer-down-arrow.png">
            </div>
            <div class="col-12 col-md-10">
                <div class="row text-center text-md-left">
                    <div class="col-12 mb-5 pb-4">
                        <p class="footer-title font-weight-lighter">Looking forward to hearing from you.
                            <input class="footer-button font-18 ml-md-4" type="text" placeholder="Enter Email Address"/>
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>
                                <a href="#">About Dcode</a>
                            </li>
                            <li>
                                <a href="#">Smartphones</a>
                            </li>
                            <li>
                                <a href="#">Accessories</a>
                            </li>
                            <li>
                                <a href="#">Store Locator</a>
                            </li>
                            <li>
                                <a href="#">Workd if Dcode</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>
                                <a href="#">Recommend</a>
                            </li>
                            <li>
                                <a href="#">X Piano Black</a>
                            </li>
                            <li>
                                <a href="#">Yale Blue</a>
                            </li>
                            <li>
                                <a href="#">Cypher Black</a>
                            </li>
                            <li>
                                <a href="#">X Cherry Red</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3 class="font-weight-light">0800-0-8866</h3>
                        <p class="font-14">
                            <span>11:00 - 19:00, MON - SAT</span>
                        </p>
                        <div class="clearfix social-icons">
                            <a href="https://www.facebook.com" target="_blank" rel="noopener">
                                <img alt="Facebook" src="images/facebook.png">
                            </a>
                            <a href="https://twitter.com" target="_blank" rel="noopener">
                                <img alt="Twitter" src="images/youtube.png">
                            </a>
                            <a href="https://www.youtube.com" target="_blank" rel="noopener">
                                <img alt="Twitter" src="images/instagram.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
<!-- Model to view videos -->
<!-- Modal -->
<div class="modal fade oss-demo-modals" id="showVideoModal" tabindex="-1" role="dialog"
     aria-labelledby="showVideoModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>Model Video</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width:100%;">
                <div>
                    <iframe class="video-frame"
                            src="https://www.youtube.com/embed/t7jbT1YhyQU?feature=oembed&autoplay=1&mute=1"
                            frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

